<!-- 订单管理 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>物业管理系统</title>

    <link type="text/css" rel="stylesheet" href="../../css/property-css/proCom.css"/>

	<script type="text/javascript" src="../../js/utils/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="../../js/property-js/proCom.js"></script>
</head>

<body>
	<div class="wrapper">
		<div class="pro-top">
			<h1>私人车位共享系统</h1>
			<div class="right-user">
				<img src="../../images/user-active.png">
				<span id="pro-name"></span>
			</div>
			<div class="right-out">
				<img src="../../images/out.png">
			</div>
		</div>
		<div class="pro-main">
			<ul id="nav">
				<li id="nav-property">小区管理</li>
				<li id="nav-lots">车库管理</li>
				<li id="nav-park" class="active">车位管理</li>
				<li id="nav-order">订单管理</li>
			</ul>
			<div id="main-box">
				<div class="main-title">
					<h2>车位管理</h2>
				</div>
				<table id="pk">
				</table>
				<!-- <div class="pk-bottom">
					<span class="pk-bottom-del">共0页,0条数据</span>
					<div class="page-choose">
						<button type="button" id="pk-first-page" class="pk-paging">首页</button>
						<button type="button" id="pk-last-page" class="pk-paging">上一页</button>
						<span class="pk-pag-div">
							<input type="button" value="1" class="pk-pag"/>
							<input type="button" value="2" class="pk-pag"/>
							<input type="button" value="3" class="pk-pag"/>
							<input type="button" value="4" class="pk-pag"/>
							<input type="button" value="5" class="pk-pag"/>
						</span>
						<button type="button" id="pk-next-page" class="pk-paging">下一页</button>
						<button type="button" id="pk-final-page" class="pk-paging">末页</button>
					</div>
				</div> -->
			</div>
		</div>
		
	</div>
</body>
</html>