/*物业小区管理*/
html,body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 100%;
}
ul{
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
}
/*顶部*/
.pro-top{
	width: 100%;
	background-color: #1389BC;
	color: #ffffff;
	height: 4em;
}
.pro-top img{
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.5em;
}
h1{
	font-size: 2em;
	float: left;
	margin: 0.3em 3em;
}
.right-user,.right-out{
	float: right;
}
.right-user{
	margin: 1.3em 20em;
}
.right-out{
	margin: 1.3em -42em;
}
/*左侧导航*/
#nav{
	float: left;
	width: 12em;
	height: 35em;
	background-color: #EFF7FF;
	text-align: center;
	padding-top: 2em;
}
#nav li{
	height: 2.5em;
	line-height: 2.5em;
	cursor: pointer;
}
#main-box{
	float: right;
}
/*右侧主内容*/
.main-title{
	border-bottom: 1px solid #797979;
	height: 2.5em;
	width: 65em;
	margin-right: 4em;
}
h2{
	text-align: center;
	width: 5em;
	height: 1.5em;
	line-height: 1.5em;
	border-bottom: 5px solid #797979;
}
/*添加小区按钮*/
#add-com{
	float: right;
	margin-top: -4.5em;
	background-color: #4B7902;
	border: none;
	color: #ffffff;
	border-radius: 0.5em;
	padding: 0.6em 2em;
	cursor: pointer;
}
/*小区管理表格*/
#pk{
	text-align: center;
	width: 65em;
	margin-top: 2em;
	border-collapse: collapse;
  	border-spacing: 0px; 
  	border: 1px solid #EAEAEA;
}
.th-div{
	background-color: #015478;
}
#pk th{
	color: #ffffff;
	height: 2.2em;
}
#pk td{
	height: 2em;
}
/*页码*/
/*.pk-bottom{
	margin-top: 2em;
}
.pk-bottom-del,.page-choose{
	display: inline-block;
}
.page-choose{
	width: 83%;
	text-align: right;
}
.pk-paging,.pk-pag{
	background-color: #ffffff;
	border: 1px solid #cccccc;
}
.pk-paging{
	padding: 0.5em;
}
.pk-pag{
	width: 2.1em;
	height: 2.1em;
}*/

/*导航选中*/
.active{
	background-color: #ffffff;
	border-right: 5px solid #1389BC;
}
/*模态*/
.model{
    background: black;
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 99;
}
/*添加小区*/
.add-com-page{
	position: fixed;
	z-index: 100;
	background-color: #ffffff;
	top: 8em;
	left: 20em;
	width: 45em;
	display: none;
}
h3{
	width: 200px;
	border-left: 5px solid #1389BC;
	margin: 1em auto 0.5em 2em;
	padding-left: 0.5em;
}
.add-com-main{
	width: 40em;
	margin: 0 auto;
	border-top: 1px dashed #C2C1C1;
}
.add-com-main li{
	margin: 2em;
}
.form-group{
	margin-right: 1em;
}
.form-inline,#com-name-input{
	margin-top: 0.5em;
}
#com-add-btn{
	text-align: center;
	margin: 40px auto 50px auto;
}
#com-add-btn button{
	border: none;
	color: #ffffff;
	width: 6em;
	height: 2em;
	cursor: pointer;
}
#com-back{
	background-color: #DB3838;
	margin-right: 3em;
}
#com-up{
	background-color: #1389BC;
}