/*物业车库管理*/
html,body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 100%;
}
ul{
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
}
/*顶部*/
.pro-top{
	width: 100%;
	background-color: #1389BC;
	color: #ffffff;
	height: 4em;
}
.pro-top img{
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.5em;
}
h1{
	font-size: 2em;
	float: left;
	margin: 0.3em 3em;
}
.right-user,.right-out{
	float: right;
}
.right-user{
	margin: 1.3em 20em;
}
.right-out{
	margin: 1.3em -42em;
}
/*左侧导航*/
#nav{
	float: left;
	width: 12em;
	height: 35em;
	background-color: #EFF7FF;
	text-align: center;
	padding-top: 2em;
}
#nav li{
	height: 2.5em;
	line-height: 2.5em;
	cursor: pointer;
}
#main-box{
	float: right;
}
/*右侧主内容*/
.main-title{
	border-bottom: 1px solid #797979;
	height: 2.5em;
	width: 65em;
	margin-right: 4em;
}
h2{
	text-align: center;
	width: 5em;
	height: 1.5em;
	line-height: 1.5em;
	border-bottom: 5px solid #797979;
}
#pk{
	text-align: center;
	width: 65em;
	margin-top: 2em;
	border-collapse: collapse;
  	border-spacing: 0px; 
  	border: 1px solid #EAEAEA;
}
.th-div{
	background-color: #015478;
}
#pk th{
	color: #ffffff;
	height: 1em;
	border: 1px solid #ffffff;
}
#pk td{
	height: 2em;
}
.td-do-change{
	color: #D32727;
	text-decoration: underline;
	cursor: pointer;

}
.td-down-a{
	color: #1389BC;
	margin-right: 1em;
}
/*添加车库按钮*/
#add-lots{
	float: right;
	margin-top: -4.5em;
	background-color: #4B7902;
	border: none;
	color: #ffffff;
	border-radius: 0.5em;
	padding: 0.6em 2em;
	cursor: pointer;
}
/*模态*/
.model{
    background: black;
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 99;
}
/*添加车库*/
.add-lots-page{
	position: fixed;
	z-index: 100;
	width: 52em;
	background-color: #ffffff;
	top: 8em;
	left: 50%;
	margin-left: -26em;
	display: none;
}
h3{
	width: 200px;
	border-left: 5px solid #1389BC;
	margin: 1em auto 0.5em 2em;
	padding-left: 0.5em;
}
.add-lots-main{
	width: 47em;
	margin: 0 auto;
	border-top: 1px dashed #C2C1C1;
}
.input-group{
	display: inline-block;
	margin-left: 6.5em;
	margin-top: 0.5em;
	font-size: 13px;
}
.btn-link{
	font-size: 14px;
	text-decoration: underline;
	color: #1389BC;
	cursor: pointer;
}
.add-lots-main li{
	margin: 1em auto;
}
#del-file-up{
	border-radius: 0.5em;
	border: none;
	background-color: #cccccc;
	padding: 0.5em 2em;
	cursor: pointer;
}
#lots-add-btn{
	text-align: center;
	margin: 40px auto 50px auto;
}
#lots-add-btn button{
	border: none;
	color: #ffffff;
	width: 6em;
	height: 2em;
	cursor: pointer;
}
#lots-back{
	background-color: #DB3838;
	margin-right: 3em;
}
#lots-up{
	background-color: #1389BC;
}
/*地图*/
#mapModal{
	border: 1px solid #8D8C8C;
	width: 52em;
	position: fixed;
	top: 50px;
	left: 50%;
	margin-left: -26em;
	z-index: 200;
	background-color: #ffffff;
	display: none;
}
#mapContainer{
	margin: 0 auto;
}
.modal-header{
	border-bottom: 1px solid #cccccc;
	height: 40px;
	line-height: 40px;
}
h4{
	margin: 0;
	padding: 0;
	display: inline-block;
	font-weight: normal;
	font-size: 18px;
	margin: auto 33em auto 1em;
}
.incorrect:before {
    content: '\2716';
    color: #B3B3B3;
}
#search{
	height: 3em;
	line-height: 3em;
	padding-left: 1em;
}
#btn-search{
	margin-left: 1em;
	width: 3.5em;
}
#btn-search,.btn-default{
	border: none;
	background: linear-gradient(to bottom, #f09819, #ff5858);
	color: #ffffff;
	border-radius: 5px;
}
.modal-footer{
	height: 3em;
	line-height: 3em;
	text-align: right;
	padding-right: 3em; 
}
.btn-default{
	width: 7em;
	height: 2em;
}
/*页码*/
/*.pk-bottom{
	margin-top: 2em;
}
.pk-bottom-del,.page-choose{
	display: inline-block;
}
.page-choose{
	width: 83%;
	text-align: right;
}
.pk-paging,.pk-pag{
	background-color: #ffffff;
	border: 1px solid #cccccc;
}
.pk-paging{
	padding: 0.5em;
}
.pk-pag{
	width: 2.1em;
	height: 2.1em;
}*/
/*导航选中*/
.active{
	background-color: #ffffff;
	border-right: 5px solid #1389BC;
}