/*车主订单*/
html,body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 100%;
}
.wrapper{
	color: #656565;
	text-align: center;
}
ul{
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
}
li{
	display: inline-block;
}
h1{
	position: fixed;
	top: 0;
	color: #1389BC;
	margin: 0 auto;
	font-size: 1.5em;
	width: 100%;
	height: 2.5em;
	line-height: 2.5em;
	background-color: #ffffff;
	z-index: 2;
}
/*顶部选择*/
#order-option{
	display: flex;
	align-items: center;
	height: 2.5em;
	background-color: #FAF8F8;
	z-index: 2;
}
#order-option{
	position: fixed;
	top: 3.5em;
}
#order-option li{
	flex: auto;
	border-left: 1px solid #cccccc;
}
#order-option li:first-child{
	border-left: none;
}
.order-drop-down{
	position: relative;
}
.order-drop-content{
	border: 1px solid #CCCCCC;
	border-top: none;
	width: 28%;
	position: absolute;
	text-align: center;
	top: 2.5em;
	display: none;
	background-color: #FCF9F9;
	z-index: 2;
}
.order-drop-content span{
	display: block;
	padding: 0.3em;
	border-bottom: 1px solid #cccccc;
}
.order-drop-content span:last-child{
	margin: 0.2em auto 0.5em auto;
	padding: 0;
	border-bottom: none;
}
/*中间显示*/
#order-show{
	margin-top: 6em;
}
#order-show li{
	width: 100%;
	height: 8em;
	border-bottom: 1px solid #cccccc;
	position: relative;
}
.order-img-name{
	float: right;
	margin-right: 5%;
	color: #1389BC;
}
/*.order-img{
	width: 4em;
	height: 4em;
	position: absolute;
  	top: 1.5em;
  	left: 7%;
  	border-radius: 0.5em;
}*/
/*.order-img-name{
	position: absolute;
  	top: 5em;
  	left: 9%;
}*/
/*.right-div{
	font-size: 1em;
}
.show-navi, .show-price{
	float: right;
	margin-right: 0.5em;
}
.show-navi{
  	margin-top: -5.5em;
}
.show-price{
  	margin-top: -4.2em;
}
.navi, .price{
	width: 1em;
	height: 1em;
	vertical-align: middle;
}*/
.show-detail, .show-title,.show-all-detail{
	margin-left: 5%;
	text-align: left;
}
.show-detail{
	font-size: 0.5em;
	margin-top: -1em;
	color: #027DB4;
}
.show-title{
	width: 70%; 
	height: 2.5em;
	color: #000000;
	text-overflow: -o-ellipsis-lastline;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	display: -webkit-box;
  	-webkit-line-clamp: 2;
  	line-clamp: 2;
  	-webkit-box-orient: vertical;
}
.show-all-detail{
	font-size: 0.5em;
}
/*缓冲*/
.loading-p,.loading-txt{
	position: relative;
	top: 6em;
}
.loading-img{
	width: 7em;
	height: 7em;
}
/*底部导航*/
#appoint-nav1{
	position: fixed;
	bottom: 0;
	display: flex;
	align-items: center;
	border-top: 1px solid #656565;
}
#appoint-nav1 li{
	height: 4em;
	flex: auto;
	font-size: 0.8em;
	padding-top: 0.5em;
	padding-bottom: 0.1em;
}
#appoint-btn, #user-btn{
	background-color: #ffffff;
}
#order-btn{
	background-color: #1389BC;
	color: #ffffff;
}
.nav1-img{
	width: 2.1em;
	height: 2.1em;
}
/*订单详情*/
#order-del{
	width: 100%;
	height: 100%;
	color: #cccccccccccc;
	position: fixed;
	bottom: 0;
	background-color: #ffffff;
	text-align: left;
	display: none;
	z-index: 100;
	overflow-y: scroll;
	overflow-x:hidden;
}
.del-title,#del-QR,#del-btn1,#del-btn2{
	text-align: center;
}
#del-QR{
	display: block;
	margin-bottom: 4em;
	height: 12em;
}
.del-title{
	font-size: 1.5em;
}
.del-show{
	margin: 0 auto;
	width: 90%;
}
.del-show li{
	display: block;
	margin-bottom: 1.5em;
}
.del-show span{
	color: #015478;
}
.del-show button{
	background-color: #015478;
	border: none;
	color: #ffffff;
	border-radius: 0.5em;
	font-size: 1em;
	padding: 0.5em 2em;
	margin-top: 0.2em;
}
.del-img{
	width: 1.5em;
	height: 1.5em;
	position: fixed;
	left: 90%;
	top: 1em;
}

#code{
	width: 150px;
	height: 150px;
	text-align: center;
}
#park-navi{
	background-image: url("../../images/go.png");
	background-position: 30% 40%;
    background-size: 20%;
    background-repeat: no-repeat;
    padding-left: 3em;
    margin-left: 2em;
}
/*选中*/
.active{
	color: #027DB4;
}


.rec{
	display: inline-block;
	width: 0; 
	height: 0;
	border-width: 0.3em;
	border-style: solid;
	border-color:#656565 transparent transparent transparent;
	vertical-align:middle;
	margin-left: 0.2em;
}

.seat{
	height: 4em;
}

.order-top-title{
	text-align: center;;
}
.order-top-title img{
	width: 10em;
	height: 10em;
}
#del-btn{
	text-align: center;
}
#del-btn button{
	background-color: #D40A0A;
}

/*模态*/
.model{
    background: black;
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.9);
    /*display: none;*/
    z-index: 101;
}
/*车库平面图*/
.order-park-photo{
	display: block;
	margin: 0 auto;
	margin-top: 30%;
	width: 80%;
}