/*车主订单*/
html,body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}
ul{
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
}
#user-choose li,#appoint-nav1 li{
	border-top: 1px solid #656565;
}
/*上部分*/
#account-infor{
	border-bottom: 1px solid #656565;
}
.infor-icon{
	width: 1.7em;
	height: 1.7em;
	display: inline-block;
	margin-right: 0.5em;
	vertical-align: middle;
}
 
.user-title img{
	width: 8em;
	height: 8em;
	margin: 3em auto 2em 2em;
	border-radius: 0.5em;
}
.user-name{
	display: block;
	position: relative;
	left: 11em;
	top: -8em;
	font-weight: bold;
}
#user-choose{
	margin-top: -2em;
}
#user-choose li{
	width: 100%;
	height: 3em;
	line-height: 3em;
	padding-left: 1em;
}
.right-rec{
 	width: 0.7em;
 	height: 0.7em;
	border-top: 2px solid #867f7a;
	border-right: 2px solid #867f7a;
	transform: rotate(45deg);
	margin-left: 85%;
	margin-top: -2em;
}

/*底部按钮*/
.bottom-btn{
	margin-top: 3em;
}
.bottom-btn button{
	padding: 0.7em 4em;
	font-size: 1em;
	display: block;
	margin: 0 auto;
	margin-bottom: 1em;
	border-radius: 0.5em;
	border:none;
	color: #ffffff;
}
#change-to{
	background-color: #1389BC;
}
#login-out{
	background-color: #D81E1E;
}

/*底部导航*/
#appoint-nav1{
	position: fixed;
	bottom: 0;
	display: flex;
	align-items: center;
	text-align: center;
}
#appoint-nav1 li{
	height: 4em;
	flex: auto;
	font-size: 0.8em;
	padding-top: 0.5em;
	padding-bottom: 0.1em;
}
#appoint-btn, #order-btn{
	background-color: #ffffff;
}
#user-btn{
	background-color: #1389BC;
	color: #ffffff;
}
.nav1-img{
	width: 2.1em;
	height: 2.1em;
}


.seat{
	height: 4em;
}
.alarm{
	width: 1em;
	height: 1em;
	display: inline-block;
	margin-left: 0.2em;
	vertical-align: middle;
	display: none;
}

/*功能*/
#user-del{
	width: 100%;
	height: 100%;
	color: #000000;
	position: fixed;
	bottom: 0;
	background-color: #ffffff;
	text-align: left;
	display: none;
	z-index: 100;
	font-size: 1.2em;
}

/*车位信息*/
#carinfor-img{
	background:url("../../images/car.gif") no-repeat left top;
	width: 100%;
	height: 40%;
	background-size:cover;
}
#car-num,#car-file{
	margin-left: 1em;
	margin-top: 1.5em;
}
#car-btn1{
	text-align: center;
	margin-top: 1em;
}
#car-num input{
	display: inline-block;
	width: 10em;
	height: 1em;
	border: 1px solid #656565;
	font-size: 1em;
	padding: 0.2em 0.5em;
}
#carinfor-del button{
	border: none;
	border-radius: 0.5em;
	padding: 0.5em 2em;
	color: #ffffff;
	background-color: #1389BC;
}
#car-file button{
	font-size: 0.8em;
}
#car-btn1 button{
	font-size: 1em;
	margin-top: 2em;
}
#yes-btn{
	margin-left: 1em;
}
/*基本信息*/
.title-img,#car-btn2{
	text-align: center;
	margin-top: 4em;
}
.title-img img{
	width: 10em;
	height: 10em;
}
#user-mine-info li{
	margin-left: 2em;
	margin-top: 2em;
}
#car-btn2 button{
	border: none;
	width: 80%;
	height: 3em;
	font-size: 1em;
	border-radius: 0.5em;
	color: #ffffff;
	background-color: #1389BC;
}
/*账户信息*/
#acc-num{
	background-color: #1389BC;
	color: #ffffff;
	width: 100%;
	height: 5em;
	line-height: 5em;
	text-align: center;
	font-size: 3.5em;
}
.acc-btn{
	text-align: center;
}
.acc-btn button{
	border: none;
	border-radius: 0.5em;
	width: 7em;
	height: 3em;
	font-size: 1.1em;
}
#acc-add-btn,#acc-out-btn{
	background-color: #E0E0E0;
	color: #156C91;
	margin-top: 5em;
}
#acc-add-btn{
	margin-right: 1em;
}
.acc-back-btn{
	background-color: #1389BC;
	color: #ffffff;
	margin-top: 1em;
}