/*车主预约*/
html,body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 100%;
}
.wrapper{
	color: #656565;
	text-align: center;
}
ul{
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
}
li{
	display: inline-block;
}
h1{
	position: fixed;
	top: 0;
	color: #1389BC;
	margin: 0 auto;
	font-size: 1.5em;
	width: 100%;
	height: 2.5em;
	line-height: 2.5em;
	background-color: #ffffff;
	z-index: 2;
	border-bottom: 5px solid #EEEDED;
}
/*页面内容*/
#park-show1{
	margin-top: 4.1em;
}
#park-show1 li{
	width: 100%;
	border-bottom: 1px solid #cccccc;
	position: relative;
	padding-bottom: 1em; 
}
.park-show1 span{
	display: block;
}
.park-sta{
	color: #1389BC;
	margin-top: 0.6em;
}
.park-sta,.park-share{
	float: right;
	margin-right: 0.5em;
}
.park-name,.park-del1,.park-del2{
	float: left;
	text-align: left;
	width: 80%;
	margin-left: 0.5em;
}
.park-name{
	font-size: 1.1em;
	color: #000000;
	height: 2.5em;
	text-overflow: -o-ellipsis-lastline;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	display: -webkit-box;
  	-webkit-line-clamp: 2;
  	line-clamp: 2;
  	-webkit-box-orient: vertical;
  	margin-top: 0.5em;
}
.park-del1,.park-del2{
	font-size: 0.8em;
	margin-left: 0.7em;
}
.park-del1{
	margin-top: 0.8em;
}
.park-share{
	width: 5em;
	height: 2em;
	line-height: 2em;
	background-color: #1389BC;
	color: #ffffff;
	border-radius: 0.5em;
	margin-top: -2em;
}
/*底部*/

#park-nav1{
	position: fixed;
	bottom: 0;
	display: flex;
	align-items: center;
	border-top: 1px solid #656565;
}
#park-nav1 li{
	height: 4em;
	flex: auto;
	font-size: 0.8em;
	padding-top: 0.5em;
	padding-bottom: 0.1em;
}
#order-btn, #user-btn{
	background-color: #ffffff;
}
#park-btn{
	background-color: #1389BC;
	color: #ffffff;
}
.nav1-img{
	width: 2.1em;
	height: 2.1em;
}
.seat{
	height: 4em;
}
#add-park{
	position: fixed;
	bottom: 5em;
	right: 2em;
	width: 3.5em;
}

/*选中*/
.input-active{
	border: 1px solid #000000;
}
/*.btn-active{
	background-color: #EFA533;
}*/
/*.model{
    background: black;
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    opacity: 0.4;
    display: none;
    z-index: 99;
}*/
/*上传车位详情*/
#park-del{
	width: 100%;
	height: 100%;
	position: fixed;
	bottom: 0;
	background-color: #ffffff;
	text-align: left;
	display: none;
	z-index: 100;
}
.del-img{
	width: 1.5em;
	height: 1.5em;
	float: right;
	margin: 1em 1em auto auto;
}
.del-title{
	text-align: center;
	margin-left: 1.5em;
}
.del-show{
	margin: 0 auto;
	width: 90%;
}
.del-show li{
	display: block;
	margin-bottom: 3em;
}
.del-show li:first-child{
	margin-top: 2em;
}	
#del-btn{
	text-align: center;
}
#del-btn button{
	background-color: #015478;
	border: none;
	color: #ffffff;
	border-radius: 0.5em;
	padding: 0.5em 1em;
	width: 90%;
	font-size: 1em;
}
.del-show select{
	background-color: #F4F2F2;
	border: none;
}
.del-show input,.del-show select{
	width: 80%;
	height: 2em;
	margin-top: 0.5em;
	font-size: 1em;
}
.del-show select option{
	font-size: 0.5em;
}
#del-file-up{
	border-radius: 0.5em;
	border: none;
	background-color: #cccccc;
	padding: 0.5em 3em;
	font-size: 1em;
}
/*缓冲*/
.loading-p,.loading-txt{
	position: relative;
	top: 6em;
}
.loading-img{
	width: 7em;
	height: 7em;
}