<!-- 车主订单 -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="telephone=no" name="format-detection" />
	<meta content="email=no" name="format-detection" />

	<title>车主订单</title>

	<link type="text/css" rel="stylesheet" href="../../css/user-css/carOrder.css"/>

	<script type="text/javascript" src="../../js/utils/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="../../js/user-js/carOrder.js"></script>
	
</head>
<body>
	<div class="wrapper">
		<h1>私人车位共享系统</h1>
		<!-- 顶部选项 -->
		<ul id="order-option">
			<li id="top-all" value="navi">全部</li>
			<li id="top-no-do" value="price">
				<span class="order-drop-down">未完成</span><span class="rec"></span>
				<div class="order-drop-content">
					<span>未入场</span>
					<span>未出场</span>
					<span>已超时</span>
				</div>
			</li>
			<li id="top-do" value="choose">已完成</li>
			<li id="top-gone" value="choose">已取消</li>
		</ul>
		<!-- 订单列表 -->
		<ul id="order-show">
			<p class="loading-p"><img class="loading-img" src="../../images/loading.gif"></p>
			<p class="loading-txt">加载中，请稍后......</p>
		</ul>
		<div class="seat"></div>
		<!-- 底部导航 -->
		<ul id="appoint-nav1">
			<li id="appoint-btn">
				<img src="../../images/appoint.png" class="nav1-img"><br>
			预约</li>
			<li id="order-btn">
				<img src="../../images/order-active.png" class="nav1-img"><br>
			订单</li>
			<li id="user-btn">
				<img src="../../images/user.png" class="nav1-img"><br>
			我的</li>
		</ul>
		<!-- 订单详情 -->
		<div class="model">
			
		</div>
		<div id="order-del">
			<img class="del-img" src="../../images/error.png">
			<h2 class="del-title">订单详情</h2>
			<ul class="del-show">
			</ul>
		</div>
	</div>
</body>
</html>