<!-- 业主车位 -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="telephone=no" name="format-detection" />
	<meta content="email=no" name="format-detection" />

	<title>业主车位</title>

	<link type="text/css" rel="stylesheet" href="../../css/user-css/ownerPark.css"/>

	<script type="text/javascript" src="../../js/utils/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="../../js/user-js/ownerPark.js"></script>
	
</head>
<body>
	<div class="wrapper">
		<h1>我的车位</h1>
		<!-- 顶部选项 -->
		<ul id="park-option1">
		</ul>
		<!-- 车位列表 -->
		<ul id="park-show1">
			<p class="loading-p"><img class="loading-img" src="../../images/loading.gif"></p>
			<p class="loading-txt">加载中，请稍后......</p>
		</ul>
		<div class="seat"></div>
		<img id="add-park" src="../../images/add-park.png">
		<!-- 底部导航 -->
		<ul id="park-nav1">
			<li id="park-btn">
				<img src="../../images/park-active.png" class="nav1-img"><br>
			车位</li>
			<li id="order-btn">
				<img src="../../images/order.png" class="nav1-img"><br>
			订单</li>
			<li id="user-btn">
				<img src="../../images/user.png" class="nav1-img"><br>
			我的</li>
		</ul>
		<!-- 上传车位 -->
		<div id="park-del">
			<img class="del-img" src="../../images/error.png">
			<h2 class="del-title">上传车位</h2>
			<ul class="del-show">
				<li id="del-commu">小区地址：
					<select id="commu-select">
						<option selected = "selected" disabled="disabled">---请选择---</option>
					</select>
				</li>
				<li id="del-lots">车库地址：
					<select id="lots-select">
						<option selected = "selected" disabled="disabled">---请选择---</option>
					</select>
				</li>
				<li id="del-park">车位名称：
					<input id="del-park-up" type="text" placeholder="请输入车位名称" />
				</li>
				<li id="del-file">车位凭证文件：
					<button id="del-file-up">上传凭证文件</button>
					<input type="file" name="filePath" style="display:none" id="file-path"/>
				</li>
				<li id="del-btn">
					<button id="del-btn-up" type="button">确认上传</button>
				</li>
			</ul>
		</div>
		<!-- 选择共享时间 -->
		<div class="model"></div>
		<div id="park-share-add">
			<div class="park-share-item">车位名称：
				<span class="user-park-name">重庆市-重庆市-南岸区-南山路173号静园小区A区101</span>
			</div>
			<div class="park-share-item">共享开始时间：
				<input id="share-begin" type="text" class="demo_datetime" />
			</div>
			<div class="park-share-item">共享结束时间：
				<input id="share-over" type="text" class="demo_datetime" />
			</div>
			<div class="park-share-item" id="btn-div-user">
				<button id="park-share-sure">确定</button>
			</div>
		</div>
	</div>
</body>
</html>